* {
  box-sizing: border-box; /* Inclui padding e border no tamanho total dos elementos */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

header img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  border-bottom: 2px solid #0066cc;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #0066cc;
}

.experiencia-item h3 {
  margin: 25px 0 0 0; /* Adiciona um espaço de 10px abaixo do título h3 */
}

ul {
  padding-left: 20px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  section {
    margin: 10px;
    padding: 15px;
  }
}
